@import "common/index";
.item-info {
    padding: 14px 10px 10px 10px;
    background: #fff;
    @include br();
    @include bs();
    .category {
      display: inline-block;
      vertical-align: middle;
    }
  }
.common-border{
  width: 120px ;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid #777;
  @include br(12px);
  margin: 5px 15px;
  padding-left: 13px;
}
.form-inline{
  .form-group {
    label {
      font-weight: normal;
      color: #333;
    }
    .form-control {
      width: 120px !important;
      height: 30px;
      box-sizing: border-box;
      border: 1px solid #777;
      @include br(12px);
      margin: 5px 15px;
      padding: 0 !important;
      .dropdown-menu{
        min-width: 120px;
      }
    }
  }
}
.dropdown-menu a,.txt a{
    color: #3a3b3b;
    text-decoration: none;
  }
  #collect-lable-dropdown.dropdown .btn,
  #collect-indicator.dropdown .btn,
  #collect-state.dropdown .btn{
    width: 100%;
    position: relative;
    height: 28px!important;
    border:none!important;
    border-radius: 10px!important;
    padding-left: 13px;
    text-align: left;
  }
  .status-btn{
    color: #FC6B6B;
  }
  .detail,.efficient{
    color: #79B0CF;
  }
.efficient.ineffective{
  color: #B6B5B5;
}
  .del{
    color: #79CFAE;
    &[disabled]{
      color: #B6B5B5;
    }
  }
  .btn-check{
    float: right;
    width: 116px;
    height:30px;
    color: #fff;
    text-align: center;
    background: #79cfae;
    @include br();
    @include bs(#d7f1e7);
  }
  //单选
  .opt {
    display: inline-block;
    margin-left: 36px;
    vertical-align: middle;
    @media (max-width: 1366px) {
      margin-left: 20px;
    }
  }
  .list-common-border{
    width: 102px;
    height: 24px;
    border: 1px solid #777;
    font-size: 16px;
    border-radius: 12px;
    text-align: center;
  }


  //新建和详情对应的模态框
  .modal-dialog.modal-dialog-box {
    width: bl(744);
  }
  .modal-dialog.modal-dialog-box .modal-header {
    padding: 20px 40px;
    border-bottom: none;
  }
  .modal-dialog.modal-dialog-box .modal-title {
    font-size: 20px;
    line-height:50px;
    color: #1c1d1d;
  }
  .modal-dialog.modal-dialog-box .modal-body {
    padding: 0 60px;
    label{
      font-weight: normal;
      color: #1C1D1D;
    }
  }
  .modal-dialog.modal-dialog-box .modal-content {
    @include br(20px);
    padding-bottom: 18px;
  }
  .modal-dialog.modal-dialog-box .close {
    opacity: 1;
  }
  .modal-dialog.modal-dialog-box .modal-body .form-group {
    margin-bottom: 20px;
  }

.dis{
  background-color: #f3f2f2;
}
  .modal-dialog.modal-dialog-box .modal-body .form-control {
    height: 30px;
    border: 1px solid #777;
    @include br(10px);
  }
  .modal-dialog.modal-dialog-box .modal-content .modal-footer {
    border-top: none;
  }
  .btn-e79cfae {
    font-size: 16px;
    color: #fff;
    background-color: #79cfae;
    border-color: #79cfae;
    border-radius: 16px;
    min-width: bl(308);
  }
  .btn-e79cfae:hover{
    color: #fff;
  }
  .modal-dialog.modal-dialog-box .modal-body .form-horizontal .control-label {
    white-space: nowrap;
    padding-top: 0 !important;
  }
  //弹框内下拉菜单
  #collect-dialog-classify.dropdown .btn{
    width: 100%;
    position: relative;
    height: 30px!important;
    border: 1px solid #777;
    border-radius: 10px!important;
    padding-left: 13px;
    text-align: left;
  }
  #collect-modal{
    .fruit-icon{
      display: inline-block;
      width: 18px;
      height: 18px;
      margin-right: 10px;
      border: 1px solid #777;
      @include br(5px)
    }
    .check-fruit-icon{
      border: none;
      @include manbg(guoshixuanzhong)
    }
    .like-icon{
      display: inline-block;
      width: 18px;
      height: 18px;
      margin-right: 10px;
      @include manbg(xihao)
    }
    .check-like-icon{
      @include manbg(xinxuanzhong)
    }
  .del-option{
    font-size: 16px;
    background: none;
    color: #FC6B6B;
  }
  .add-option{
    background: none;
    color: #79B0CF;
  }
  .quantile-box{
    display: none;
  }
}
  //小模态框
  #modal-sm {
    .modal-dialog-box{
      width: 662px;
    }
    .btn{
      height: 30px;
      border-radius: 10px;
      padding: 0 20px;
      &:first-child{
        color: #fff;
        background-color: #79cfae;
        border-color: #79cfae;
        margin-right: 10px;
      }
    }
    .modal-footer{
      border-top:none;
    }
  }
// 失效对应的弹框
#myModal .close {
  opacity: 1; }

#myModal .modal-header {
  border-bottom: none; }

#myModal .modal-body {
  font-size: 18px;
  text-align: center; }

#myModal .modal-footer {
  text-align: center;
  border-top: none; }

#myModal .btn-br {
  border-radius: 10px;
  height: 30px;
  padding: 0 20px;
  margin: 0 20px; }
#myModal .btn-size{
  min-width: 0;
}


