@import "common/index";

.variety-info{
  padding: 14px 10px 10px 10px;
  background: #fff;
  @include br();
  @include bs();
  div{
    vertical-align: middle;
    display: inline-block;
  }
  .common-border{
    width:112px;
    height: 30px;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid #777;
    @include br(12px);
    padding-left: 13px;
    margin: 5px 0;
  }
  .r-distance{
    margin-right: 10px;
  }
  .common-padding{
    margin:0 10px;

  }
  //下拉菜单
  .fix-width{
    width:112px;
    box-sizing: border-box;
    .dropdown-menu{
      min-width: 112px;
    }
  }
  .check{
    float: right;
    width:110px;
    height: 30px;
    margin: 5px 0;
    line-height: 30px;
    text-align: center;
    color: #fff;
    @include br();
    background: #79cfae;
    box-shadow:5px 0  5px #d7f1e7, -5px 0  5px #d7f1e7, 0 -5px 5px #d7f1e7,0 5px 5px #d7f1e7; ;
    cursor: pointer;
  }
}
.sample-list{
  @include br();
  overflow: hidden;
  @include mt();
  box-shadow: 5px 0  5px #e4e4e5, -5px 0  5px #e4e4e5, 0 -5px 5px #c9e3da,0 5px 5px #e4e4e5;
  background: #fff;
  table{
    text-align: center;
    margin-bottom:0;
  }
  .sample-list-title{
    background: #79cfae;
    td{
      height:40px;
      font-size: 16px;
      line-height:40px;
      color: #fff;
      text-align: center;
      padding: 0!important;
    }
  }
  tbody{
    tr{
      height:66px;
      td{
        font-size: 16px;
        color: #333;
        vertical-align: middle;
        padding: 0!important;
      }
      img{
        width: 90px;
        height: 60px;
        @include br(16px);
        background: #eee;
        cursor: default;
      }
      input{
        width: 102px;
        height: 30px;
        border: 1px solid #777;
        @include br(12px);
        font-size: 18px;
        text-align: center;
      }

      .last-child{
        color: #79b0cf;
        cursor: pointer;
      }
    }
  }
}


//新建及编辑模态框样式
#exampleModal{
  .modal-dialog.modal-dialog-box{
    width:800px;
    .modal-header{
      padding: 20px 30px;
      border-bottom:none;
    }
    .close{ opacity: 1; }
    .modal-title{
      font-size: 20px;
      line-height:50px;
      color: #1c1d1d;
    }
    .modal-body{
      padding: 0 40px;
      //主体内容部分
      .species-info{
        font-size: 0;
        div{
          display: inline-block;
          font-size: 16px;
          vertical-align: middle;
        }
        .common-border {
          width: 120px;
          height: 30px;
          margin: 0 20px 0 10px;
          box-sizing: border-box;
          border: 1px solid #777;
          font-size: 16px;
          vertical-align: middle;
          @include br(12px);
          padding-left: 13px;
        }
        .fix-width{
          width: 120px;
          height: 30px;
          margin: 0 20px 0 10px;
          .dropdown-menu{
            min-width: 120px;
          }
        }

        .unique-num{
          border:none;
          background: #f3f2f2;
          color: #969696;
        }
      }
      .subhead{
        font: 16px/30px "Microsoft Yahei";
        margin: 0;
        color: #333;
      }
      .intro{
        @include mt();
        textarea{
          outline:none;
          resize:none;
          width:100%;
          height: 120px;
          border: 1px solid #777;
          box-sizing: border-box;
          padding: 16px;
          margin-top: 10px;
          @include br(18px)
        }
      }
      .property{
        width: 100%;
        @include mt();
        .property-list{
          margin-top: 24px;
          box-sizing: border-box;
          @include br(16px);
          box-shadow: 0 5px 5px #d7f1e7,0 -5px 5px #d7f1e7,5px 0 5px #d7f1e7, -5px 0 5px #d7f1e7;
          overflow: hidden;
          table{
            margin: 0;
            tr{
              height: 30px;
              td{
                vertical-align: middle;
                text-indent: 60px;
              }
              .odd{
                color: #fff;
                background: #79cfae;
                input{
                  color: #fff;
                  background: #79cfae;
                }
              }
              .even{
                position: relative;
                color: #777;
                .del-btn{
                  display: inline-block;
                  position: absolute;
                  width: 20px;
                  height: 20px;
                  right: 30px;
                  @include br(50%);
                  @include manbg(shanchu);
                  cursor: pointer;
                }
              }
            }
          }
        }
        .add-line{
          width: 80px;
          line-height: 50px;
          color: #79b0cf;
          margin: 0;
          cursor: pointer;
        }
      }
      .thn{
        margin-top: 7px;
        .opa-pic{
          @include mt();
          .opa{
            box-sizing: border-box;
            height: 180px;
            padding: 10px 0 20px 30px;
            display: inline-block;
            position: absolute;
            .file{
              position: absolute;
              width: 40px;
              z-index: 100;
              overflow: hidden;
              opacity: 0;
              filter: alpha(opacity=0);
            }
            .uploading{
              background: none;
              color: #79b0cf;
              cursor: pointer;
            }
            .del-pic{
              position: absolute;
              z-index: 1000;
              bottom: 20px;
              display: block;
              vertical-align: bottom;
              width: 44px
            }
          }
        }
        img{
          width: 200px;
          height: 180px;
          @include br();
        }
      }
      .pic-show{
        margin-top: 26px;
        .pic-list{
          display: inline-block;
          margin:20px 30px 0 0;
          img{
            width: 200px;
            height: 180px;
            @include br();

          }
          .opa{
            position: relative;
            @include mt();
            span{
              cursor: pointer;
            }
            .file{
              position: absolute;
              z-index: 100;
              overflow: hidden;
              opacity: 0;
              filter: alpha(opacity=0);
              width:40px;
            }
            .uploading{
              position: relative;
              background: none;
              color: #79b0cf;
              cursor: pointer;
            }
            .del-pic{
              float: right;
            }
          }
        }
      }
    }
    .modal-content{ border-radius: 20px; padding-bottom: 18px;
      .modal-footer{ border-top: none;}
    }

    .btn-e79cfae{ color: #fff; background-color: #79cfae; border-color: #79cfae; border-radius: 16px; min-width: bl(308);}
  }
}
#myModal{
  .modal-dialog.modal-dialog-box{
    width:300px!important;}
  .close{ opacity: 1; }
  .modal-header{
    border-bottom: none;
  }
  .modal-body{
    font-size: 16px;
  }
  .modal-footer{
    text-align: center;
    border-top: none;
  }
  .btn-br{
    border-radius: 10px;
    height: 30px;
    padding: 0 20px;
  }
}

.btn-e79cfae{ color: #fff; background-color: #79cfae; border-color: #79cfae;}
//下拉菜单部分
#classify-dropdown.dropdown .btn,#dialog-classify-dropdown.dropdown .btn{
  width: 100%;
  position: relative;
  height: 30px!important;
  border-radius: 10px!important;
  color: #5d5d5d;
  padding-left: 13px;
  text-align: left;
  a{
    color: #5d5d5d;
    text-decoration: none;
  }
}