<ul class="tree-menu">
    <li class="fst-menu">
        <div class="menu-title menu-item-title">
            <i class="tree-menu-icon"></i>
            <span>1号大棚</span>
        </div>
        <ul class="nav-second fold">
            <li class="snd-menu">
                <div class="row menu-item-title">
                    <div class=" col-md-6 menu-item-title-sensor">
                        <i class="tree-menu-icon"></i>
                        <span>摄像头</span>
                    </div>
                    <button class="add-device col-md-2">添加</button>
                </div>
                <ul class="nav-three fold">
                    <li class="row">
                        <div class="col-md-6">
                            CH1
                        </div>
                        <button class="del-device col-md-2">删除</button>
                    </li>
                    <li class="row">
                        <div class="col-md-6">
                            CH1
                        </div>
                        <button class="del-device col-md-2">删除</button>
                    </li>
                </ul>
            </li>
            <li class="snd-menu">
                <div class="row menu-item-title">
                    <div class=" col-md-6 menu-item-title-sensor">
                        <i class="tree-menu-icon"></i>
                        <span>传感器</span>
                    </div>
                    <button class="add-device col-md-2">添加</button>
                </div>
                <ul class="nav-three">
                    <li class="third-menu">
                        <div class="row menu-item-title-sensor">
                            <div class=" col-md-6">
                                <i class="tree-menu-icon"></i>
                                <span>土壤温度</span>
                            </div>
                            <button class="add-device col-md-2">添加</button>
                        </div>
                        <ul class="">
                            <li class="row">
                                <div class="col-md-6 text-center">
                                    TWTS1
                                </div>
                                <button class="del-device col-md-2">删除</button>
                                <div class="col-md-4 radio-distance">
                                    <div>
                                        <input class="magic-radio" type="radio" name="soil-temp" id="device1" value="option4" >
                                        <label for="device1">设默认</label>
                                    </div>

                                </div>
                            </li>
                            <li class="row">
                                <div class="col-md-6 text-center">
                                    TWTS2
                                </div>
                                <button class="del-device col-md-2">删除</button>
                                <div class="col-md-4 radio-distance">
                                    <input class="magic-radio" type="radio" name="soil-temp" id="device2" value="option4" >
                                    <label for="device2">设为默认</label>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="third-menu">
                        <div class="row menu-item-title">
                            <div class=" col-md-6">
                                <i class="tree-menu-icon"></i>
                                土壤湿度
                            </div>
                            <button class="add-device col-md-2">添加</button>
                        </div>
                        <ul class="fold">
                            <li class="row">
                                <div class="col-md-6 text-center">
                                    TWTS1
                                </div>
                                <button class="del-device col-md-2">删除</button>
                                <div class="col-md-4 radio-distance">
                                    <input class="magic-radio" type="radio" name="soil-humidity" id="device3" value="option4" >
                                    <label for="device3" >设为默认</label>
                                </div>
                            </li>
                            <li class="row">
                                <div class="col-md-6 text-center">
                                    TWTS2
                                </div>
                                <button class="del-device col-md-2">删除</button>
                                <div class="col-md-4 radio-distance">
                                    <input class="magic-radio" type="radio" name="soil-humidity" id="device4" value="option4" >
                                    <label for="device4">设为默认</label>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="fst-menu">
        <div class="menu-title">
            <i class="tree-menu-icon"></i>
            2号大棚
        </div>
    </li>
</ul>
