.modal-dialog.modal-dialog-box {
  width: 800px; }
  .modal-dialog.modal-dialog-box .modal-header {
    padding: 20px 30px;
    border-bottom: none; }
  .modal-dialog.modal-dialog-box .close {
    opacity: 1; }
  .modal-dialog.modal-dialog-box .padding0 {
    padding-left: 0; }
  .modal-dialog.modal-dialog-box .modal-title {
    font-size: 20px;
    line-height: 50px;
    color: #1c1d1d; }
  .modal-dialog.modal-dialog-box .modal-body {
    padding: 0 40px; }
    .modal-dialog.modal-dialog-box .modal-body .subhead {
      font-size: 16px;
      line-height: 20px;
      margin: 0; }
    .modal-dialog.modal-dialog-box .modal-body .control-label {
      font-weight: normal;
      text-align: left; }
    .modal-dialog.modal-dialog-box .modal-body .btn {
      width: 100%;
      position: relative;
      border: 1px solid #777;
      height: 30px !important;
      border-radius: 10px !important;
      color: #5d5d5d;
      padding-left: 13px;
      text-align: left; }
      .modal-dialog.modal-dialog-box .modal-body .btn a {
        color: #5d5d5d;
        text-decoration: none; }
    .modal-dialog.modal-dialog-box .modal-body .form-control {
      height: 30px;
      border: 1px solid #777;
      border-radius: 10px !important; }
    .modal-dialog.modal-dialog-box .modal-body .down-arrow {
      background: url("../images/manageImg/xialajiantou.png") no-repeat center center;
      background-position: 90% center; }
    .modal-dialog.modal-dialog-box .modal-body .dropdown-menu a, .modal-dialog.modal-dialog-box .modal-body .txt a {
      color: #3a3b3b;
      text-decoration: none; }
    .modal-dialog.modal-dialog-box .modal-body .batch-number {
      display: none; }
    .modal-dialog.modal-dialog-box .modal-body .variety-table {
      position: relative;
      overflow: hidden;
      margin-left: 50px;
      height: 350px;
      box-shadow: 5px 0 5px #e4e4e5, -5px 0 5px #e4e4e5, 0 -5px 5px #c9e3da, 0 5px 5px #e4e4e5;
      border-radius: 8px; }
      .modal-dialog.modal-dialog-box .modal-body .variety-table label {
        line-height: 30px; }
      .modal-dialog.modal-dialog-box .modal-body .variety-table table {
        margin: 0; }
      .modal-dialog.modal-dialog-box .modal-body .variety-table thead {
        background: #79cfae; }
        .modal-dialog.modal-dialog-box .modal-body .variety-table thead td {
          font: 16px/40px 'Microsoft Yahei';
          padding: 0;
          height: 30px;
          color: #fff;
          text-align: center; }
      .modal-dialog.modal-dialog-box .modal-body .variety-table tbody tr {
        height: 20px;
        text-align: center; }
        .modal-dialog.modal-dialog-box .modal-body .variety-table tbody tr td {
          line-height: 20px;
          padding: 0;
          vertical-align: middle; }
      .modal-dialog.modal-dialog-box .modal-body .variety-table .serial-number {
        display: inline-block;
        width: 102px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        border-radius: 10px;
        border: 1px solid #777;
        background: none; }
      .modal-dialog.modal-dialog-box .modal-body .variety-table .serial-number[disabled] {
        background: #f3f2f2;
        border: none; }
      .modal-dialog.modal-dialog-box .modal-body .variety-table .refer {
        display: inline-block;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: #f9f8f8; }
    .modal-dialog.modal-dialog-box .modal-body .magic-checkbox-circle {
      position: absolute;
      display: none; }
    .modal-dialog.modal-dialog-box .modal-body .magic-checkbox-circle + label {
      position: relative;
      display: inline-block;
      padding-left: 28px;
      cursor: pointer;
      margin: 0;
      vertical-align: middle; }
    .modal-dialog.modal-dialog-box .modal-body .magic-checkbox-circle + label:before {
      content: '';
      position: absolute;
      display: inline-block;
      width: 20px;
      height: 20px;
      top: 50%;
      left: 0;
      margin-top: -10px;
      border: 1px solid #c0c0c0;
      border-radius: 50%; }
    .modal-dialog.modal-dialog-box .modal-body .magic-checkbox-circle:checked + label:before {
      border: 1px solid #bce7d6;
      background: #79cfae; }
    .modal-dialog.modal-dialog-box .modal-body .magic-checkbox-circle[disabled] + label:before {
      cursor: not-allowed;
      background: #cacaca; }
    .modal-dialog.modal-dialog-box .modal-body .target-info {
      margin-top: 20px; }
      .modal-dialog.modal-dialog-box .modal-body .target-info .asterisk {
        float: left;
        line-height: 32px;
        width: 92.4px; }
      .modal-dialog.modal-dialog-box .modal-body .target-info .sim-check label {
        box-sizing: border-box;
        float: left;
        margin-right: 10px;
        line-height: 30px; }
      .modal-dialog.modal-dialog-box .modal-body .target-info .describe .asterisk {
        max-height: 100px; }
  .modal-dialog.modal-dialog-box .modal-content {
    border-radius: 20px;
    padding-bottom: 18px; }
    .modal-dialog.modal-dialog-box .modal-content .modal-footer {
      border-top: none; }
  .modal-dialog.modal-dialog-box .btn-e79cfae {
    color: #fff;
    background-color: #79cfae;
    border-color: #79cfae;
    border-radius: 16px;
    min-width: 215.6px; }

.detailRadioN {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  border: 1px solid #c0c0c0;
  border-radius: 50%; }

.detailRadioY {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  border-radius: 50%;
  border: 1px solid #bce7d6;
  background: #79cfae; }
