@charset "UTF-8";
body {
  font: 16px/20px 'Microsoft Yahei';
  background: #ececed; }

.content-head .content-title {
  float: left;
  margin: 0;
  padding-top: 4px;
  font: bold 20px/50px '宋体';
  vertical-align: middle; }

.content-head .create-item {
  float: right;
  margin: 10px 12px;
  padding: 0 23px;
  line-height: 30px;
  color: #fff;
  background: #fc6b6b;
  border-radius: 8px;
  box-shadow: 0 5px 5px #f1c5c6, 0 -5px 5px #f1c5c6, 5px 0 5px #f1c5c6, -5px 0 5px #f1c5c6;
  cursor: pointer; }

.indicator-list {
  margin-top: 20px;
  overflow: hidden;
  box-shadow: 5px 0 5px #e4e4e5, -5px 0 5px #e4e4e5, 0 -5px 5px #c9e3da, 0 5px 5px #e4e4e5;
  border-radius: 8px; }
  .indicator-list table {
    margin: 0; }
  .indicator-list thead {
    background: #79cfae; }
    .indicator-list thead tr td {
      height: 40px;
      line-height: 40px;
      color: #fff;
      text-align: center;
      padding: 0; }
  .indicator-list tbody {
    background: #fff; }
    .indicator-list tbody tr {
      height: 30px;
      text-align: center; }
      .indicator-list tbody tr td {
        font-size: 14px;
        line-height: 30px;
        padding: 0; }
  .indicator-list .last-td {
    cursor: pointer;
    color: #79b0cf; }
    .indicator-list .last-td button {
      display: inline-block;
      background: none;
      margin: 0 10px; }

.page-btn {
  text-align: center;
  margin-top: 20px; }
  .page-btn span {
    display: inline-block;
    line-height: 30px;
    margin: 0 5px;
    box-shadow: 0 5px 5px #cdcdcd; }
  .page-btn .nun-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    color: #777;
    text-align: center;
    cursor: pointer; }
  .page-btn .nun-active {
    background: #79cfae;
    box-shadow: 0 5px 5px #dbe6e3;
    color: #fff; }
  .page-btn .prev, .page-btn .next, .page-btn .total {
    padding: 0 24px 0 20px;
    border-radius: 16px;
    background: #fff;
    cursor: pointer; }
  .page-btn .total {
    cursor: default; }

.magic-radio {
  position: absolute;
  display: none; }

.magic-radio + label {
  font-weight: normal;
  color: #333;
  position: relative;
  display: block;
  padding-left: 30px;
  cursor: pointer;
  vertical-align: middle; }

.magic-radio + label:before {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -9px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  content: '';
  border: 1px solid #7a7a7a; }

.magic-radio:checked + label:before {
  border: 1px solid #bce7d6;
  background: #79cfae; }

.magic-checkbox {
  position: absolute;
  display: none; }

.magic-checkbox + label {
  position: relative;
  display: inline-block;
  padding-left: 28px;
  cursor: pointer;
  margin: 0;
  vertical-align: middle;
  font: 18PX/54PX 'Microsoft Yahei';
  color: #4e4e4e; }
  @media (max-width: 1366px) {
    .magic-checkbox + label {
      font-size: 16px; } }

.magic-checkbox + label:before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 0;
  margin-top: -10px;
  border: 1px solid #c0c0c0;
  border-radius: 3px; }

.magic-checkbox:checked + label:before {
  border-color: #79cfae;
  background: url("../images/manageImg/gouxuan.png") no-repeat center center; }

.magic-checkbox[disabled] + label {
  cursor: not-allowed;
  color: #e4e4e4; }
